<h1>My Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li><%= link_to task.title, task_path(task) %> • <%= link_to '🗑', task_path(task), method: :delete, data:{comfirm: "Delete #{task.title}?"} %></li>
  <% end %>
</ul>
<p><%= link_to '✚Add a new task', new_task_path %></p>
